Repository dart-lang/http, pull requests merged in 2023-12, with the labels that each got.

#1064 [http_client_conformance_tests] Updates to support wasm compilation
  pkgs/http_client_conformance_tests/bin/generate_server_wrappers.dart
  pkgs/http_client_conformance_tests/lib/src/close_tests.dart
  pkgs/http_client_conformance_tests/lib/src/compressed_response_body_server_vm.dart
  pkgs/http_client_conformance_tests/lib/src/compressed_response_body_server_web.dart
  pkgs/http_client_conformance_tests/lib/src/compressed_response_body_tests.dart
  pkgs/http_client_conformance_tests/lib/src/isolate_test.dart
  pkgs/http_client_conformance_tests/lib/src/multiple_clients_server_vm.dart
  pkgs/http_client_conformance_tests/lib/src/multiple_clients_server_web.dart
  pkgs/http_client_conformance_tests/lib/src/multiple_clients_tests.dart
  pkgs/http_client_conformance_tests/lib/src/redirect_server_vm.dart
  pkgs/http_client_conformance_tests/lib/src/redirect_server_web.dart
  pkgs/http_client_conformance_tests/lib/src/redirect_tests.dart
  pkgs/http_client_conformance_tests/lib/src/request_body_server_vm.dart
  pkgs/http_client_conformance_tests/lib/src/request_body_server_web.dart
  pkgs/http_client_conformance_tests/lib/src/request_body_streamed_server_vm.dart
  pkgs/http_client_conformance_tests/lib/src/request_body_streamed_server_web.dart
  pkgs/http_client_conformance_tests/lib/src/request_body_streamed_tests.dart
  pkgs/http_client_conformance_tests/lib/src/request_body_tests.dart
  pkgs/http_client_conformance_tests/lib/src/request_headers_server_vm.dart
  pkgs/http_client_conformance_tests/lib/src/request_headers_server_web.dart
  pkgs/http_client_conformance_tests/lib/src/request_headers_tests.dart
  pkgs/http_client_conformance_tests/lib/src/request_methods_server_vm.dart
  pkgs/http_client_conformance_tests/lib/src/request_methods_server_web.dart
  pkgs/http_client_conformance_tests/lib/src/request_methods_tests.dart
  pkgs/http_client_conformance_tests/lib/src/response_body_server_vm.dart
  pkgs/http_client_conformance_tests/lib/src/response_body_server_web.dart
  pkgs/http_client_conformance_tests/lib/src/response_body_streamed_server_vm.dart
  pkgs/http_client_conformance_tests/lib/src/response_body_streamed_server_web.dart
  pkgs/http_client_conformance_tests/lib/src/response_body_streamed_test.dart
  pkgs/http_client_conformance_tests/lib/src/response_body_tests.dart
  pkgs/http_client_conformance_tests/lib/src/response_headers_server_vm.dart
  pkgs/http_client_conformance_tests/lib/src/response_headers_server_web.dart
  pkgs/http_client_conformance_tests/lib/src/response_headers_tests.dart
  pkgs/http_client_conformance_tests/lib/src/response_status_line_server_vm.dart
  pkgs/http_client_conformance_tests/lib/src/response_status_line_server_web.dart
  pkgs/http_client_conformance_tests/lib/src/response_status_line_tests.dart
  pkgs/http_client_conformance_tests/lib/src/server_errors_server_vm.dart
  pkgs/http_client_conformance_tests/lib/src/server_errors_server_web.dart
  pkgs/http_client_conformance_tests/lib/src/server_errors_test.dart
  pkgs/http_client_conformance_tests/lib/src/server_queue_helpers.dart
Labels: package:http_client_conformance_tests

#1063 Document how to use replacement `Client` implementations
  pkgs/http/README.md
Labels: package:http

#1060 Add support for setting headers for all requests
  pkgs/cupertino_http/CHANGELOG.md
  pkgs/cupertino_http/example/integration_test/url_session_configuration_test.dart
  pkgs/cupertino_http/example/lib/main.dart
  pkgs/cupertino_http/lib/src/cupertino_api.dart
  pkgs/cupertino_http/pubspec.yaml
Labels: package:cupertino_http

#1068 Add documentation for "no_default_http_client"
  pkgs/http/README.md
Labels: package:http

#984 Test large payloads with `persistentConnection = true`
  pkgs/http_client_conformance_tests/lib/src/request_body_tests.dart
Labels: package:http_client_conformance_tests

#1069 Document that runWithClient must be called for every isolate
  pkgs/http/README.md
Labels: package:http

#1077 Fix a bug where BrowserClient was listed as requiring Flutter
  pkgs/http/README.md
Labels: package:http

#1078 Run web tests with wasm with dev Dart sdk
  .github/workflows/dart.yml
  pkgs/http/mono_pkg.yaml
  tool/ci.sh
Labels: package:http, type-infra

#1081 Add a fake response for PNG images
  pkgs/http/CHANGELOG.md
  pkgs/http/lib/src/mock_client.dart
  pkgs/http/pubspec.yaml
  pkgs/http/test/mock_client_test.dart
Labels: package:http

#1080 Prepare to publish cupertino 1.2.0
  pkgs/cupertino_http/CHANGELOG.md
  pkgs/cupertino_http/pubspec.yaml
Labels: package:cupertino_http

#1070 [cronet_http] Enables CI for `cronet_http_embedded`
  .github/workflows/cronet.yml
  pkgs/cronet_http/android/build.gradle
  pkgs/cronet_http/example/android/app/build.gradle
  pkgs/cronet_http/example/android/app/src/debug/AndroidManifest.xml
  pkgs/cronet_http/example/android/app/src/main/AndroidManifest.xml
  pkgs/cronet_http/example/android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java
  pkgs/cronet_http/example/android/app/src/main/kotlin/io/flutter/cronet_http_example/MainActivity.kt
  pkgs/cronet_http/example/android/app/src/profile/AndroidManifest.xml
  pkgs/cronet_http/example/android/build.gradle
  pkgs/cronet_http/example/android/gradle/wrapper/gradle-wrapper.properties
  pkgs/cronet_http/tool/prepare_for_embedded.dart
Labels: package:cronet_http, type-infra

#1088 cronet_http: require android API level 28
  .github/workflows/cronet.yml
  pkgs/cronet_http/android/build.gradle
  pkgs/cronet_http/example/android/app/build.gradle
  pkgs/cronet_http/tool/prepare_for_embedded.dart
Labels: package:cronet_http, type-infra

#1087 Prepare to publish `package:cronet_http` as 1.0.0
  pkgs/cronet_http/CHANGELOG.md
  pkgs/cronet_http/README.md
  pkgs/cronet_http/pubspec.yaml
Labels: package:cronet_http
