Repository dart-lang/http, pull requests merged in 2023-05, with the labels that each got.

#915 Document that RetryClient may consume a lot of memory
  pkgs/http/lib/retry.dart
Labels: package:http

#914 Prepare to publish
  pkgs/http/CHANGELOG.md
  pkgs/http/pubspec.yaml
Labels: package:http

#922 Switch to "dart format" from "flutter format"
  .github/workflows/cupertino.yml
  pkgs/cronet_http/tool/run_pigeon.sh
Labels: package:cupertino_http, package:cronet_http, infra

#920 Add "base", "final" and "interface" modifiers
  .github/workflows/dart.yml
  pkgs/http/CHANGELOG.md
  pkgs/http/lib/retry.dart
  pkgs/http/lib/src/base_client.dart
  pkgs/http/lib/src/byte_stream.dart
  pkgs/http/lib/src/client.dart
  pkgs/http/pubspec.yaml
  tool/ci.sh
Labels: package:http, infra

#921 Support the NSURLSession WebSocket API
  pkgs/cupertino_http/example/integration_test/url_session_task_test.dart
  pkgs/cupertino_http/ffigen.yaml
  pkgs/cupertino_http/ios/Classes/CUPHTTPCompletionHelper.m
  pkgs/cupertino_http/lib/src/cupertino_api.dart
  pkgs/cupertino_http/lib/src/native_cupertino_bindings.dart
  pkgs/cupertino_http/macos/Classes/CUPHTTPCompletionHelper.m
  pkgs/cupertino_http/src/CUPHTTPClientDelegate.m
  pkgs/cupertino_http/src/CUPHTTPCompletionHelper.h
  pkgs/cupertino_http/src/CUPHTTPCompletionHelper.m
Labels: package:cupertino_http

#931 Revert "Support the NSURLSession WebSocket API (#921)"
  pkgs/cupertino_http/example/integration_test/url_session_task_test.dart
  pkgs/cupertino_http/ffigen.yaml
  pkgs/cupertino_http/ios/Classes/CUPHTTPCompletionHelper.m
  pkgs/cupertino_http/lib/src/cupertino_api.dart
  pkgs/cupertino_http/lib/src/native_cupertino_bindings.dart
  pkgs/cupertino_http/macos/Classes/CUPHTTPCompletionHelper.m
  pkgs/cupertino_http/src/CUPHTTPClientDelegate.m
  pkgs/cupertino_http/src/CUPHTTPCompletionHelper.h
  pkgs/cupertino_http/src/CUPHTTPCompletionHelper.m
Labels: package:cupertino_http

#933 blast_repo fixes
  .github/dependabot.yml
Labels: infra

#940 Disable package:cupertino_http tests because they are failing at head
  .github/workflows/cupertino.yml
Labels: infra

#928 Increment package:http version to 1.0.0
  pkgs/cronet_http/pubspec.yaml
  pkgs/cupertino_http/pubspec.yaml
  pkgs/http/pubspec.yaml
  pkgs/http_client_conformance_tests/pubspec.yaml
Labels: package:cupertino_http, package:http, package:cronet_http, package:http_client_conformance_tests

#942 Update pubspec for 0.2.1 release
  pkgs/cronet_http/pubspec.yaml
Labels: package:cronet_http

#943 cupertino_http/cronet_http: require Dart 3.0
  pkgs/cronet_http/CHANGELOG.md
  pkgs/cronet_http/pubspec.yaml
  pkgs/cupertino_http/CHANGELOG.md
  pkgs/cupertino_http/example/pubspec.yaml
Labels: package:cupertino_http, package:cronet_http

#879 fix copy paste error in cupertino_http documentation
  pkgs/cupertino_http/lib/src/cupertino_api.dart
Labels: package:cupertino_http

#947 regenerate with the latest mono_repo
  .github/workflows/dart.yml
  tool/ci.sh
Labels: infra

#948 Add a better toString to _ClientSocketException
  pkgs/http/CHANGELOG.md
  pkgs/http/lib/src/client.dart
  pkgs/http/lib/src/exception.dart
  pkgs/http/lib/src/io_client.dart
  pkgs/http/pubspec.yaml
  pkgs/http/test/io/client_test.dart
Labels: package:http

#949 Fix the failing cupertino_http tests
  .github/workflows/cupertino.yml
  pkgs/cupertino_http/example/integration_test/main.dart
Labels: package:cupertino_http, infra

#951 Prepare to publish cupertino_http 1.0.0
  .github/workflows/cupertino.yml
  pkgs/cupertino_http/CHANGELOG.md
  pkgs/cupertino_http/example/pubspec.yaml
  pkgs/cupertino_http/ffigen.yaml
  pkgs/cupertino_http/lib/src/native_cupertino_bindings.dart
  pkgs/cupertino_http/pubspec.yaml
Labels: package:cupertino_http, infra

#954 Update readme and prepare for a new release
  pkgs/cupertino_http/CHANGELOG.md
  pkgs/cupertino_http/README.md
  pkgs/cupertino_http/example/pubspec.yaml
  pkgs/cupertino_http/pubspec.yaml
Labels: package:cupertino_http
