Repository dart-lang/http, pull requests merged in 2023-06, with the labels that each got.

#950 Reland "support the nsurl session web socket api"
  pkgs/cupertino_http/CHANGELOG.md
  pkgs/cupertino_http/example/integration_test/url_session_task_test.dart
  pkgs/cupertino_http/ffigen.yaml
  pkgs/cupertino_http/ios/Classes/CUPHTTPCompletionHelper.m
  pkgs/cupertino_http/lib/src/cupertino_api.dart
  pkgs/cupertino_http/lib/src/native_cupertino_bindings.dart
  pkgs/cupertino_http/macos/Classes/CUPHTTPCompletionHelper.m
  pkgs/cupertino_http/pubspec.yaml
  pkgs/cupertino_http/src/CUPHTTPClientDelegate.m
  pkgs/cupertino_http/src/CUPHTTPCompletionHelper.h
  pkgs/cupertino_http/src/CUPHTTPCompletionHelper.m
Labels: package:cupertino_http

#958 Support delegate methods for WebSocketTask
  pkgs/cupertino_http/example/integration_test/url_session_delegate_test.dart
  pkgs/cupertino_http/example/integration_test/url_session_task_test.dart
  pkgs/cupertino_http/lib/src/cupertino_api.dart
  pkgs/cupertino_http/lib/src/native_cupertino_bindings.dart
  pkgs/cupertino_http/src/CUPHTTPClientDelegate.h
  pkgs/cupertino_http/src/CUPHTTPClientDelegate.m
  pkgs/cupertino_http/src/CUPHTTPForwardedDelegate.h
  pkgs/cupertino_http/src/CUPHTTPForwardedDelegate.m
Labels: package:cupertino_http

#959 Run common URLSessionTask tests on URLSessionWebSocketTask
  pkgs/cupertino_http/example/integration_test/url_session_task_test.dart
Labels: package:cupertino_http

#966 Unskip a skipped test
  pkgs/http_client_conformance_tests/lib/src/redirect_tests.dart
Labels: package:http_client_conformance_tests

#965 Make StreameRequest.sink a StreamSink
  pkgs/http/CHANGELOG.md
  pkgs/http/lib/src/streamed_request.dart
  pkgs/http/pubspec.yaml
  pkgs/http/test/html/client_test.dart
  pkgs/http/test/html/streamed_request_test.dart
  pkgs/http/test/io/client_test.dart
  pkgs/http/test/io/streamed_request_test.dart
Labels: package:http

#973 Prepare to publish package:http
  pkgs/http/CHANGELOG.md
  pkgs/http/pubspec.yaml
Labels: package:http
