Repository dart-lang/http, pull requests merged in 2023-09, with the labels that each got.

#1015 Avoid passing a nullable value to Completer<nn-type>.complete
  pkgs/cupertino_http/lib/src/cupertino_api.dart
Labels: package:cupertino_http

#1016 Switch `cronet_http` to use jnigen
  .github/workflows/cronet.yml
  pkgs/cronet_http/.gitattributes
  pkgs/cronet_http/CHANGELOG.md
  pkgs/cronet_http/android/build.gradle
  pkgs/cronet_http/android/src/main/kotlin/io/flutter/plugins/cronet_http/CronetHttpPlugin.kt
  pkgs/cronet_http/android/src/main/kotlin/io/flutter/plugins/cronet_http/UrlRequestCallbackProxy.kt
  pkgs/cronet_http/example/integration_test/client_test.dart
  pkgs/cronet_http/example/integration_test/cronet_configuration_test.dart
  pkgs/cronet_http/example/lib/main.dart
  pkgs/cronet_http/jnigen.yaml
  pkgs/cronet_http/lib/src/cronet_client.dart
  pkgs/cronet_http/lib/src/jni/jni_bindings.dart
  pkgs/cronet_http/pigeons/messages.dart
  pkgs/cronet_http/pubspec.yaml
  pkgs/cronet_http/tool/run_pigeon.sh
  pkgs/http_client_conformance_tests/lib/src/redirect_tests.dart
Labels: package:cronet_http, package:http_client_conformance_tests, infra

#1017 Separate the cronet callbacks from the `send` method
  pkgs/cronet_http/lib/src/cronet_client.dart
Labels: package:cronet_http

#1011 Cleanup `package:http` utils
  pkgs/http/lib/src/utils.dart
Labels: package:http

#1019 Use efficient operations when copying bytes between Dart and Java
  pkgs/cronet_http/CHANGELOG.md
  pkgs/cronet_http/android/build.gradle
  pkgs/cronet_http/android/consumer-rules.pro
  pkgs/cronet_http/example/android/app/build.gradle
  pkgs/cronet_http/jnigen.yaml
  pkgs/cronet_http/lib/src/cronet_client.dart
  pkgs/cronet_http/lib/src/jni/jni_bindings.dart
  pkgs/cronet_http/pubspec.yaml
Labels: package:cronet_http

#1018 Remove invalid status line tests and replace them with valid status line tests
  pkgs/http_client_conformance_tests/lib/src/response_status_line_server.dart
  pkgs/http_client_conformance_tests/lib/src/response_status_line_tests.dart
Labels: package:http_client_conformance_tests

#1020 Add the ability to control the URL cache.
  pkgs/cupertino_http/CHANGELOG.md
  pkgs/cupertino_http/example/integration_test/main.dart
  pkgs/cupertino_http/example/integration_test/url_cache_test.dart
  pkgs/cupertino_http/ffigen.yaml
  pkgs/cupertino_http/lib/src/cupertino_api.dart
  pkgs/cupertino_http/lib/src/native_cupertino_bindings.dart
  pkgs/cupertino_http/lib/src/utils.dart
  pkgs/cupertino_http/pubspec.yaml
Labels: package:cupertino_http
