Repository dart-lang/http, pull requests merged in 2023-11, with the labels that each got.

#1036 Add a skeleton "http_profile" package
  .github/workflows/dart.yml
  pkgs/http_profile/CHANGELOG.md
  pkgs/http_profile/LICENSE
  pkgs/http_profile/README.md
  pkgs/http_profile/lib/http_profile.dart
  pkgs/http_profile/mono_pkg.yaml
  pkgs/http_profile/pubspec.yaml
  pkgs/http_profile/test/profiling_enabled_test.dart
  tool/ci.sh
Labels: infra

#1042 Fix obsolete `CronetClient()` constructor usage
  pkgs/cronet_http/CHANGELOG.md
  pkgs/cronet_http/lib/cronet_http.dart
  pkgs/cronet_http/lib/src/cronet_client.dart
  pkgs/cronet_http/pubspec.yaml
Labels: package:cronet_http

#1041 Require package:jni >= 0.7.1 to fix macOS build
  pkgs/cronet_http/CHANGELOG.md
  pkgs/cronet_http/pubspec.yaml
Labels: package:cronet_http

#1044 Require a package:jni version without known buffer overflows
  pkgs/cronet_http/CHANGELOG.md
  pkgs/cronet_http/pubspec.yaml
Labels: package:cronet_http

#1049 [http] use pkg:web, require Dart 3.2
  .github/workflows/dart.yml
  pkgs/http/CHANGELOG.md
  pkgs/http/lib/src/browser_client.dart
  pkgs/http/lib/src/client.dart
  pkgs/http/lib/src/client_stub.dart
  pkgs/http/pubspec.yaml
  pkgs/http/test/html/utils.dart
  tool/ci.sh
Labels: package:http, infra

#1050 [http] Fix type cast for dart2wasm
  pkgs/http/lib/src/browser_client.dart
Labels: package:http

#1051 Update platform-specific imports for wasm
  pkgs/flutter_http_example/lib/main.dart
  pkgs/http/lib/src/browser_client.dart
  pkgs/http/lib/src/client.dart
  pkgs/http_client_conformance_tests/lib/src/close_tests.dart
  pkgs/http_client_conformance_tests/lib/src/compressed_response_body_tests.dart
  pkgs/http_client_conformance_tests/lib/src/isolate_test.dart
  pkgs/http_client_conformance_tests/lib/src/multiple_clients_tests.dart
  pkgs/http_client_conformance_tests/lib/src/redirect_tests.dart
  pkgs/http_client_conformance_tests/lib/src/request_body_streamed_tests.dart
  pkgs/http_client_conformance_tests/lib/src/request_body_tests.dart
  pkgs/http_client_conformance_tests/lib/src/request_headers_tests.dart
  pkgs/http_client_conformance_tests/lib/src/response_body_streamed_test.dart
  pkgs/http_client_conformance_tests/lib/src/response_body_tests.dart
  pkgs/http_client_conformance_tests/lib/src/response_headers_tests.dart
  pkgs/http_client_conformance_tests/lib/src/response_status_line_tests.dart
  pkgs/http_client_conformance_tests/lib/src/server_errors_test.dart
Labels: package:http, package:http_client_conformance_tests

#1048 Update lints to latest, etc
  .github/workflows/dart.yml
  analysis_options.yaml
  pkgs/cronet_http/CHANGELOG.md
  pkgs/cronet_http/example/pubspec.yaml
  pkgs/cronet_http/pubspec.yaml
  pkgs/cupertino_http/CHANGELOG.md
  pkgs/cupertino_http/example/integration_test/client_test.dart
  pkgs/cupertino_http/example/pubspec.yaml
  pkgs/cupertino_http/pubspec.yaml
  pkgs/flutter_http_example/pubspec.yaml
  pkgs/http/CHANGELOG.md
  pkgs/http/pubspec.yaml
  pkgs/http_client_conformance_tests/pubspec.yaml
  pkgs/java_http/pubspec.yaml
Labels: package:cupertino_http, package:http, package:cronet_http, package:http_client_conformance_tests, infra

#1055 [http] Allow pkg:web v0.3.0
  pkgs/http/CHANGELOG.md
  pkgs/http/pubspec.yaml
Labels: package:http

#1058 Fix a bug where cronet_http sends incorrect HTTP request methods
  pkgs/cronet_http/CHANGELOG.md
  pkgs/cronet_http/lib/src/cronet_client.dart
  pkgs/http/test/io/client_conformance_test.dart
  pkgs/http_client_conformance_tests/lib/http_client_conformance_tests.dart
  pkgs/http_client_conformance_tests/lib/src/request_methods_server.dart
  pkgs/http_client_conformance_tests/lib/src/request_methods_server_vm.dart
  pkgs/http_client_conformance_tests/lib/src/request_methods_server_web.dart
  pkgs/http_client_conformance_tests/lib/src/request_methods_tests.dart
Labels: package:http, package:cronet_http, package:http_client_conformance_tests
