Repository dart-lang/http, pull requests merged in 2023-03, with the labels that each got.

#883 Move to pkg:dart_flutter_team_lints, require Dart 2.19
  .github/workflows/cronet.yml
  .github/workflows/dart.yml
  analysis_options.yaml
  pkgs/cronet_http/CHANGELOG.md
  pkgs/cronet_http/example/integration_test/cronet_configuration_test.dart
  pkgs/cronet_http/example/pubspec.yaml
  pkgs/cronet_http/lib/cronet_http.dart
  pkgs/cronet_http/lib/src/cronet_client.dart
  pkgs/cronet_http/lib/src/messages.dart
  pkgs/cronet_http/pubspec.yaml
  pkgs/cronet_http/tool/prepare_for_embedded.dart
  pkgs/cupertino_http/CHANGELOG.md
  pkgs/cupertino_http/example/integration_test/error_test.dart
  pkgs/cupertino_http/example/pubspec.yaml
  pkgs/cupertino_http/lib/cupertino_http.dart
  pkgs/cupertino_http/lib/src/cupertino_api.dart
  pkgs/cupertino_http/lib/src/cupertino_client.dart
  pkgs/cupertino_http/lib/src/utils.dart
  pkgs/cupertino_http/pubspec.yaml
  pkgs/http/CHANGELOG.md
  pkgs/http/lib/http.dart
  pkgs/http/lib/retry.dart
  pkgs/http/lib/src/byte_stream.dart
  pkgs/http/lib/src/io_streamed_response.dart
  pkgs/http/lib/src/multipart_request.dart
  pkgs/http/lib/src/request.dart
  pkgs/http/lib/src/response.dart
  pkgs/http/lib/src/streamed_request.dart
  pkgs/http/lib/src/streamed_response.dart
  pkgs/http/pubspec.yaml
  pkgs/http/test/html/client_conformance_test.dart
  pkgs/http/test/html/client_test.dart
  pkgs/http/test/html/streamed_request_test.dart
  pkgs/http/test/io/client_conformance_test.dart
  pkgs/http/test/io/client_test.dart
  pkgs/http/test/io/http_test.dart
  pkgs/http/test/io/multipart_test.dart
  pkgs/http/test/io/request_test.dart
  pkgs/http/test/io/streamed_request_test.dart
  pkgs/http_client_conformance_tests/CHANGELOG.md
  pkgs/http_client_conformance_tests/bin/generate_server_wrappers.dart
  pkgs/http_client_conformance_tests/example/client_test.dart
  pkgs/http_client_conformance_tests/pubspec.yaml
Labels: package:cupertino_http, package:http, package:cronet_http, infra, package:http_client_conformance_tests

#884 Fix some spelling
  pkgs/cronet_http/example/integration_test/client_test.dart
  pkgs/cupertino_http/CHANGELOG.md
  pkgs/http_client_conformance_tests/lib/src/request_body_streamed_server.dart
  pkgs/http_client_conformance_tests/lib/src/request_headers_tests.dart
  pkgs/http_client_conformance_tests/lib/src/response_headers_tests.dart
Labels: package:cupertino_http, package:cronet_http, package:http_client_conformance_tests

#888 Fix a reference count race with forwarded delegates.
  pkgs/cupertino_http/CHANGELOG.md
  pkgs/cupertino_http/lib/src/cupertino_api.dart
  pkgs/cupertino_http/src/CUPHTTPClientDelegate.m
Labels: package:cupertino_http

#868 Add a flag to allow the default Client to be tree shaken away.
  .github/workflows/dart.yml
  pkgs/http/CHANGELOG.md
  pkgs/http/lib/src/browser_client.dart
  pkgs/http/lib/src/client.dart
  pkgs/http/lib/src/io_client.dart
  pkgs/http/mono_pkg.yaml
  pkgs/http/test/no_default_http_client_test.dart
  tool/ci.sh
Labels: package:http, infra

#889 Add conformances test that verify that the Client works in Isolates
  pkgs/cronet_http/example/integration_test/client_test.dart
  pkgs/cronet_http/example/integration_test/cronet_configuration_test.dart
  pkgs/cronet_http/lib/src/messages.dart
  pkgs/cupertino_http/example/integration_test/client_conformance_test.dart
  pkgs/http/test/html/client_conformance_test.dart
  pkgs/http_client_conformance_tests/lib/http_client_conformance_tests.dart
  pkgs/http_client_conformance_tests/lib/src/dummy_isolate.dart
  pkgs/http_client_conformance_tests/lib/src/isolate_test.dart
Labels: package:cupertino_http, package:http, package:cronet_http, package:http_client_conformance_tests
