Repository dart-lang/http, pull requests merged in 2023-08, with the labels that each got.

#1006 Add some additional header tests
  pkgs/http/lib/src/base_response.dart
  pkgs/http_client_conformance_tests/lib/src/response_headers_tests.dart
Labels: package:http, package:http_client_conformance_tests

#1010 Don't check the formatting of `ffigen`ed code
  .github/workflows/cupertino.yml
Labels: infra

#1009 Add response status code test
  pkgs/http_client_conformance_tests/lib/http_client_conformance_tests.dart
  pkgs/http_client_conformance_tests/lib/src/response_status_line_server.dart
  pkgs/http_client_conformance_tests/lib/src/response_status_line_server_vm.dart
  pkgs/http_client_conformance_tests/lib/src/response_status_line_server_web.dart
  pkgs/http_client_conformance_tests/lib/src/response_status_line_tests.dart
  pkgs/java_http/test/java_client_test.dart
Labels: package:http_client_conformance_tests

#1014 Clarify how to set the body without a content type header
  pkgs/http/lib/src/request.dart
Labels: package:http
