Repository dart-lang/http, pull requests merged in 2023-04, with the labels that each got.

#885 Fix some spelling
  pkgs/cupertino_http/lib/src/cupertino_api.dart
  pkgs/cupertino_http/lib/src/cupertino_client.dart
Labels: package:cupertino_http

#907 Fix maxRedirects documentation to mention ClientException
  pkgs/http/lib/src/base_request.dart
Labels: package:http

#908 latest CI actions
  .github/workflows/dart.yml
  tool/ci.sh
Labels: infra
