Repository dart-lang/http, pull requests merged in 2023-07, with the labels that each got.

#975 Support Steam<List<int>> as a provider of request data
  pkgs/cupertino_http/CHANGELOG.md
  pkgs/cupertino_http/example/integration_test/client_conformance_test.dart
  pkgs/cupertino_http/example/integration_test/client_test.dart
  pkgs/cupertino_http/example/integration_test/data_test.dart
  pkgs/cupertino_http/example/integration_test/error_test.dart
  pkgs/cupertino_http/example/integration_test/main.dart
  pkgs/cupertino_http/example/integration_test/mutable_data_test.dart
  pkgs/cupertino_http/example/integration_test/mutable_url_request_test.dart
  pkgs/cupertino_http/example/integration_test/url_session_task_test.dart
  pkgs/cupertino_http/example/pubspec.yaml
  pkgs/cupertino_http/ffigen.yaml
  pkgs/cupertino_http/ios/Classes/CUPHTTPStreamToNSInputStreamAdapter.m
  pkgs/cupertino_http/lib/src/cupertino_api.dart
  pkgs/cupertino_http/lib/src/cupertino_client.dart
  pkgs/cupertino_http/lib/src/native_cupertino_bindings.dart
  pkgs/cupertino_http/macos/Classes/CUPHTTPStreamToNSInputStreamAdapter.m
  pkgs/cupertino_http/pubspec.yaml
  pkgs/cupertino_http/src/CUPHTTPStreamToNSInputStreamAdapter.h
  pkgs/cupertino_http/src/CUPHTTPStreamToNSInputStreamAdapter.m
  pkgs/http_client_conformance_tests/lib/src/request_body_server.dart
  pkgs/http_client_conformance_tests/lib/src/request_body_streamed_tests.dart
  pkgs/http_client_conformance_tests/lib/src/request_body_tests.dart
Labels: package:cupertino_http, package:http_client_conformance_tests

#981 Fix a bug where ...WebSocketClosed had two different initializer signatures
  pkgs/cupertino_http/lib/src/native_cupertino_bindings.dart
  pkgs/cupertino_http/src/CUPHTTPForwardedDelegate.h
Labels: package:cupertino_http

#979 Document that the network entitlement is required when running in the macOS sandbox
  pkgs/cupertino_http/lib/cupertino_http.dart
Labels: package:cupertino_http

#980 Java http BaseClient implementation
  .github/workflows/java.yml
  pkgs/java_http/.gitignore
  pkgs/java_http/analysis_options.yaml
  pkgs/java_http/jnigen.yaml
  pkgs/java_http/lib/java_http.dart
  pkgs/java_http/lib/src/java_client.dart
  pkgs/java_http/lib/src/third_party/java/net/URL.dart
  pkgs/java_http/lib/src/third_party/java/net/_package.dart
  pkgs/java_http/pubspec.yaml
  pkgs/java_http/test/java_client_test.dart
Labels: infra

#985 Make native bindings pass `dart analysis`
  pkgs/cupertino_http/CHANGELOG.md
  pkgs/cupertino_http/analysis_options.yaml
  pkgs/cupertino_http/ffigen.yaml
  pkgs/cupertino_http/lib/src/native_cupertino_bindings.dart
Labels: package:cupertino_http

#993 Harmonize response header behavior
  pkgs/cronet_http/CHANGELOG.md
  pkgs/cronet_http/lib/src/cronet_client.dart
  pkgs/cronet_http/pubspec.yaml
  pkgs/cupertino_http/CHANGELOG.md
  pkgs/cupertino_http/lib/src/cupertino_client.dart
  pkgs/http/CHANGELOG.md
  pkgs/http/lib/src/browser_client.dart
  pkgs/http/lib/src/io_client.dart
  pkgs/http/pubspec.yaml
  pkgs/http_client_conformance_tests/lib/src/response_headers_server.dart
  pkgs/http_client_conformance_tests/lib/src/response_headers_tests.dart
  pkgs/java_http/lib/src/java_client.dart
Labels: package:cupertino_http, package:http, package:cronet_http, package:http_client_conformance_tests
