Repository dart-lang/http, pull requests merged in 2024-04, with the labels that each got.

#1176 [cronet_http] Upgrade jni and jnigen to 0.8.0
  pkgs/cronet_http/analysis_options.yaml
  pkgs/cronet_http/jnigen.yaml
  pkgs/cronet_http/lib/src/cronet_client.dart
  pkgs/cronet_http/lib/src/jni/jni_bindings.dart
  pkgs/cronet_http/pubspec.yaml
Labels: package:cronet_http

#1182 Make the cupertino_http workflow work after 'macos-latest' upgrade
  .github/workflows/cupertino.yml
  pkgs/cupertino_http/CHANGELOG.md
  pkgs/cupertino_http/ios/cupertino_http.podspec
  pkgs/cupertino_http/macos/cupertino_http.podspec
Labels: package:cupertino_http, type-infra

#1180 Use WebSocketConnectionClosed for operations after WebSocket close
  pkgs/cupertino_http/CHANGELOG.md
  pkgs/cupertino_http/lib/src/cupertino_web_socket.dart
  pkgs/web_socket/CHANGELOG.md
  pkgs/web_socket/lib/src/browser_web_socket.dart
  pkgs/web_socket/lib/src/io_web_socket.dart
  pkgs/web_socket/pubspec.yaml
  pkgs/web_socket_conformance_tests/lib/src/close_local_tests.dart
  pkgs/web_socket_conformance_tests/lib/src/close_remote_tests.dart
Labels: package:cupertino_http

#1184 Fix runWithClient link in README
  pkgs/http/CHANGELOG.md
  pkgs/http/README.md
  pkgs/http/pubspec.yaml
Labels: package:http
