Repository dart-lang/http, pull requests merged in 2024-03, with the labels that each got.

#1153 Add a WebSocket implementation to package:cupertino_http
  .github/workflows/cupertino.yml
  pkgs/cupertino_http/example/integration_test/main.dart
  pkgs/cupertino_http/example/integration_test/utils_test.dart
  pkgs/cupertino_http/example/integration_test/web_socket_conformance_test.dart
  pkgs/cupertino_http/example/pubspec.yaml
  pkgs/cupertino_http/lib/cupertino_http.dart
  pkgs/cupertino_http/lib/src/cupertino_api.dart
  pkgs/cupertino_http/lib/src/cupertino_web_socket.dart
  pkgs/cupertino_http/lib/src/utils.dart
  pkgs/cupertino_http/pubspec.yaml
Labels: package:cupertino_http, type-infra

#1156 [cronet_http] Upgrade jni to 0.7.3
  pkgs/cronet_http/pubspec.yaml
Labels: package:cronet_http

#1157 Prepare package:cronet_http 1.2 for release
  pkgs/cronet_http/CHANGELOG.md
  pkgs/cronet_http/pubspec.yaml
Labels: package:cronet_http

#1158 Ready cupertino_http for release with WebSocket support
  pkgs/cupertino_http/CHANGELOG.md
  pkgs/cupertino_http/lib/src/cupertino_web_socket.dart
  pkgs/cupertino_http/pubspec.yaml
  pkgs/web_socket_conformance_tests/pubspec.yaml
Labels: package:cupertino_http

#1159 cupertino_http: upgrade ffigen version
  .github/workflows/cupertino.yml
  pkgs/cupertino_http/CHANGELOG.md
  pkgs/cupertino_http/lib/src/cupertino_api.dart
  pkgs/cupertino_http/lib/src/native_cupertino_bindings.dart
  pkgs/cupertino_http/lib/src/utils.dart
  pkgs/cupertino_http/pubspec.yaml
  pkgs/cupertino_http/src/CUPHTTPClientDelegate.m
  pkgs/cupertino_http/src/CUPHTTPForwardedDelegate.h
  pkgs/cupertino_http/src/CUPHTTPForwardedDelegate.m
Labels: package:cupertino_http, type-infra
