Repository dart-lang/http, pull requests merged in 2024-07, with the labels that each got.

#1253 Upgrade to http_image_provider: 0.0.3
  pkgs/cronet_http/example/lib/main.dart
  pkgs/cronet_http/example/pubspec.yaml
  pkgs/cupertino_http/example/lib/main.dart
  pkgs/cupertino_http/example/pubspec.yaml
  pkgs/flutter_http_example/lib/main.dart
  pkgs/flutter_http_example/pubspec.yaml
  pkgs/ok_http/example/lib/main.dart
  pkgs/ok_http/example/pubspec.yaml
Labels: package:cupertino_http, package:cronet_http

#1255 Clarify when Client.close must be called
  pkgs/http/lib/src/client.dart
Labels: package:http

#1261 Upgrade jni and jnigen to 0.10.1 and 0.10.0
  pkgs/cronet_http/CHANGELOG.md
  pkgs/cronet_http/lib/src/jni/jni_bindings.dart
  pkgs/cronet_http/pubspec.yaml
Labels: package:cronet_http

#1265 Prepare to publish cronet_http 1.3.2
  pkgs/cronet_http/CHANGELOG.md
  pkgs/cronet_http/pubspec.yaml
Labels: package:cronet_http

#1262 Document that widgets must be initialized before using the cronet_http
  pkgs/cronet_http/example/lib/main.dart
  pkgs/cronet_http/lib/cronet_http.dart
  pkgs/cronet_http/lib/src/cronet_client.dart
  pkgs/flutter_http_example/lib/http_client_factory.dart
Labels: package:cronet_http

#1263 cupertino_http: remove `runWithClient` Flutter example
  pkgs/cupertino_http/lib/cupertino_http.dart
  pkgs/cupertino_http/lib/src/cupertino_client.dart
Labels: package:cupertino_http

#1264 Prepare to publish cupertino_http 1.5.1
  pkgs/cupertino_http/CHANGELOG.md
  pkgs/cupertino_http/pubspec.yaml
Labels: package:cupertino_http

#1266 Add WebSocket usage examples to cupertino_http
  pkgs/cupertino_http/README.md
  pkgs/cupertino_http/lib/src/cupertino_web_socket.dart
Labels: package:cupertino_http

#1272 Bump pkg:web dependency
  pkgs/http/CHANGELOG.md
  pkgs/http/lib/src/browser_client.dart
  pkgs/http/pubspec.yaml
  pkgs/http/test/html/utils.dart
Labels: package:http

#1257 pkgs/ok_http: JNIgen fixes and added WebSocket support
  .github/workflows/okhttp.yaml
  pkgs/ok_http/CHANGELOG.md
  pkgs/ok_http/README.md
  pkgs/ok_http/analysis_options.yaml
  pkgs/ok_http/android/src/main/kotlin/com/example/ok_http/WebSocketInterceptor.kt
  pkgs/ok_http/android/src/main/kotlin/com/example/ok_http/WebSocketListenerProxy.kt
  pkgs/ok_http/example/integration_test/web_socket_test.dart
  pkgs/ok_http/example/pubspec.yaml
  pkgs/ok_http/jnigen.yaml
  pkgs/ok_http/lib/ok_http.dart
  pkgs/ok_http/lib/src/jni/bindings.dart
  pkgs/ok_http/lib/src/ok_http_client.dart
  pkgs/ok_http/lib/src/ok_http_web_socket.dart
  pkgs/ok_http/pubspec.yaml
Labels: type-infra
