Repository dart-lang/http, pull requests merged in 2024-01, with the labels that each got.

#1089 Use `package:http_image_provider` in all `Client` implementation examples
  .github/workflows/cronet.yml
  pkgs/cronet_http/CHANGELOG.md
  pkgs/cronet_http/README.md
  pkgs/cronet_http/example/lib/book.dart
  pkgs/cronet_http/example/lib/main.dart
  pkgs/cronet_http/example/pubspec.yaml
  pkgs/cronet_http/pubspec.yaml
  pkgs/cupertino_http/CHANGELOG.md
  pkgs/cupertino_http/README.md
  pkgs/cupertino_http/example/lib/book.dart
  pkgs/cupertino_http/example/lib/main.dart
  pkgs/cupertino_http/example/pubspec.yaml
  pkgs/cupertino_http/pubspec.yaml
  pkgs/flutter_http_example/README.md
  pkgs/flutter_http_example/lib/book.dart
  pkgs/flutter_http_example/lib/http_client_factory.dart
  pkgs/flutter_http_example/lib/main.dart
  pkgs/flutter_http_example/pubspec.yaml
  pkgs/flutter_http_example/test/widget_test.dart
  pkgs/http/README.md
Labels: package:cupertino_http, package:http, package:cronet_http, type-infra

#1104 [cronet_http] ⬇️ Downgrade `minSdkVersion` to 21
  .github/workflows/cronet.yml
  pkgs/cronet_http/CHANGELOG.md
  pkgs/cronet_http/android/build.gradle
  pkgs/cronet_http/example/android/app/build.gradle
  pkgs/cronet_http/tool/prepare_for_embedded.dart
Labels: package:cronet_http, type-infra

#1113 Add tests for sending "cookie" and receiving "set-cookie" headers
  pkgs/cronet_http/example/integration_test/client_test.dart
  pkgs/cupertino_http/example/integration_test/client_conformance_test.dart
  pkgs/http/test/io/client_conformance_test.dart
  pkgs/http_client_conformance_tests/lib/http_client_conformance_tests.dart
  pkgs/http_client_conformance_tests/lib/src/request_cookies_server.dart
  pkgs/http_client_conformance_tests/lib/src/request_cookies_server_vm.dart
  pkgs/http_client_conformance_tests/lib/src/request_cookies_server_web.dart
  pkgs/http_client_conformance_tests/lib/src/request_cookies_test.dart
  pkgs/http_client_conformance_tests/lib/src/response_cookies_server.dart
  pkgs/http_client_conformance_tests/lib/src/response_cookies_server_vm.dart
  pkgs/http_client_conformance_tests/lib/src/response_cookies_server_web.dart
  pkgs/http_client_conformance_tests/lib/src/response_cookies_test.dart
Labels: package:cupertino_http, package:http, package:cronet_http, package:http_client_conformance_tests

#1114 Add the ability to get response headers as a `Map<String, List<String>>`
  pkgs/http/CHANGELOG.md
  pkgs/http/lib/http.dart
  pkgs/http/lib/src/base_response.dart
  pkgs/http/pubspec.yaml
  pkgs/http/test/response_test.dart
Labels: package:http

#1109 Add `BaseResponseWithUrl.url`
  pkgs/http/CHANGELOG.md
  pkgs/http/lib/http.dart
  pkgs/http/lib/src/base_request.dart
  pkgs/http/lib/src/base_response.dart
  pkgs/http/lib/src/browser_client.dart
  pkgs/http/lib/src/io_client.dart
  pkgs/http/lib/src/streamed_response.dart
  pkgs/http/pubspec.yaml
  pkgs/http/test/io/request_test.dart
Labels: package:http

#1110 Support `BaseResponseWithUrl` in `package:cupertino_http` and `package:cronet_http`
  .github/workflows/cupertino.yml
  .github/workflows/dart.yml
  pkgs/cronet_http/CHANGELOG.md
  pkgs/cronet_http/example/pubspec.yaml
  pkgs/cronet_http/lib/src/cronet_client.dart
  pkgs/cronet_http/pubspec.yaml
  pkgs/cupertino_http/CHANGELOG.md
  pkgs/cupertino_http/example/pubspec.yaml
  pkgs/cupertino_http/lib/src/cupertino_client.dart
  pkgs/cupertino_http/pubspec.yaml
  pkgs/http_client_conformance_tests/lib/src/redirect_tests.dart
  pkgs/http_client_conformance_tests/pubspec.yaml
Labels: package:cupertino_http, package:cronet_http, type-infra, package:http_client_conformance_tests

#1119 Use preferred flutter version constraints
  pkgs/cupertino_http/example/pubspec.yaml
  pkgs/cupertino_http/pubspec.yaml
Labels: package:cupertino_http
