Repository dart-lang/http, pull requests merged in 2024-08, with the labels that each got.

#1284 test(http_client_conformance_tests): Remove old skips
  pkgs/http_client_conformance_tests/lib/src/response_headers_tests.dart
Labels: package:http_client_conformance_tests

#1291 Fix "unintended_html_in_doc_comment" analysis errors
  pkgs/http/CHANGELOG.md
  pkgs/http/lib/http.dart
  pkgs/http/lib/src/base_response.dart
  pkgs/http/lib/src/client.dart
  pkgs/http/pubspec.yaml
  pkgs/http_client_conformance_tests/lib/src/compressed_response_body_server.dart
  pkgs/http_client_conformance_tests/lib/src/redirect_server.dart
  pkgs/http_client_conformance_tests/lib/src/request_headers_server.dart
  pkgs/http_profile/CHANGELOG.md
  pkgs/http_profile/lib/src/utils.dart
  pkgs/http_profile/pubspec.yaml
Labels: package:http, package:http_client_conformance_tests

#1296 Add PR Health workflow
  .github/workflows/health.yaml
  .github/workflows/post_summaries.yaml
  .github/workflows/publish.yaml
Labels: type-infra

#1297 Add a reference to AdapterWebSocketChannel for WebSocketChannel users
  pkgs/cupertino_http/CHANGELOG.md
  pkgs/cupertino_http/lib/src/cupertino_web_socket.dart
  pkgs/cupertino_http/pubspec.yaml
  pkgs/ok_http/lib/src/ok_http_web_socket.dart
Labels: package:cupertino_http

#1292 fix(http_client_conformance_tests): multipart server
  pkgs/http_client_conformance_tests/lib/src/multipart_server.dart
  pkgs/http_client_conformance_tests/lib/src/multipart_tests.dart
Labels: package:http_client_conformance_tests

#1299 Convert a `java.lang.OutOfMemoryError` into a `ClientException`
  pkgs/cronet_http/CHANGELOG.md
  pkgs/cronet_http/lib/src/cronet_client.dart
  pkgs/cronet_http/pubspec.yaml
Labels: package:cronet_http
