Repository dart-lang/http, pull requests merged in 2024-11, with the labels that each got.

#1399 Fix a bug where cupertino_http did not work on iOS<17.
  pkgs/cupertino_http/CHANGELOG.md
  pkgs/cupertino_http/lib/src/cupertino_api.dart
  pkgs/cupertino_http/pubspec.yaml
Labels: package:cupertino_http

#1400 Release package:cupertino_http 2.0.1
  pkgs/cupertino_http/CHANGELOG.md
  pkgs/cupertino_http/pubspec.yaml
Labels: package:cupertino_http

#1403 Add macOS tests for `package:cupertino_http`
  .github/workflows/cupertino.yml
Labels: type-infra

#1401 Switch browser_client.dart to use fetch
  pkgs/http/CHANGELOG.md
  pkgs/http/lib/src/browser_client.dart
  pkgs/http/pubspec.yaml
  pkgs/http/test/html/client_conformance_test.dart
  pkgs/http/test/html/client_test.dart
Labels: package:http

#1406 Upgrade to `package:`objective_c` 4.0
  pkgs/cupertino_http/CHANGELOG.md
  pkgs/cupertino_http/darwin/cupertino_http/Sources/cupertino_http/native_cupertino_bindings.m
  pkgs/cupertino_http/darwin/cupertino_http/Sources/cupertino_http/utils.m
  pkgs/cupertino_http/example/integration_test/utils_test.dart
  pkgs/cupertino_http/example/pubspec.yaml
  pkgs/cupertino_http/ffigen.yaml
  pkgs/cupertino_http/lib/src/cupertino_api.dart
  pkgs/cupertino_http/lib/src/native_cupertino_bindings.dart
  pkgs/cupertino_http/pubspec.yaml
Labels: package:cupertino_http

#1408 Include names in argument lists
  pkgs/cupertino_http/darwin/cupertino_http/Sources/cupertino_http/utils.h
  pkgs/cupertino_http/darwin/cupertino_http/Sources/cupertino_http/utils.m
Labels: package:cupertino_http
