Repository dart-lang/http, pull requests merged in 2024-05, with the labels that each got.

#1191 Eagerly free resources on `CupertinoClient.close()`
  pkgs/cupertino_http/CHANGELOG.md
  pkgs/cupertino_http/lib/src/cupertino_api.dart
  pkgs/cupertino_http/lib/src/cupertino_client.dart
Labels: package:cupertino_http

#1194 blast repo changes: dependabot
  .github/dependabot.yml
Labels: type-infra

#1201 [cronet] Use the same host and Android emulator architecture.
  .github/workflows/cronet.yml
Labels: type-infra

#1198 [cronet_http] Upgrade jni to 0.9.2 and publish 1.2.1
  pkgs/cronet_http/CHANGELOG.md
  pkgs/cronet_http/jnigen.yaml
  pkgs/cronet_http/lib/src/jni/jni_bindings.dart
  pkgs/cronet_http/pubspec.yaml
Labels: package:cronet_http

#1202 Get ready to publish cronet_http 1.2.1
  pkgs/cronet_http/CHANGELOG.md
  pkgs/cronet_http/pubspec.yaml
Labels: package:cronet_http

#1199 Add `topics` to `pubspec.yaml`
  pkgs/http/pubspec.yaml
Labels: package:http

#1205 Update `topics` in package "http"
  pkgs/http/pubspec.yaml
Labels: package:http

#1208 [cronet_http]: Remove files that are covered by .gitignore
  pkgs/cronet_http/example/android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java
  pkgs/cronet_http/example/android/gradlew
  pkgs/cronet_http/example/android/gradlew.bat
Labels: package:cronet_http

#1079 Integrated cupertino_http with package_http_profile
  .github/workflows/cupertino.yml
  pkgs/cupertino_http/CHANGELOG.md
  pkgs/cupertino_http/example/integration_test/client_conformance_test.dart
  pkgs/cupertino_http/example/integration_test/client_profile_test.dart
  pkgs/cupertino_http/example/integration_test/main.dart
  pkgs/cupertino_http/example/pubspec.yaml
  pkgs/cupertino_http/lib/cupertino_http.dart
  pkgs/cupertino_http/lib/src/cupertino_client.dart
  pkgs/cupertino_http/pubspec.yaml
Labels: package:cupertino_http, type-infra

#1167 Integrate cronet_http with `package:http_profile`
  pkgs/cronet_http/CHANGELOG.md
  pkgs/cronet_http/example/integration_test/client_profile_test.dart
  pkgs/cronet_http/example/integration_test/client_test.dart
  pkgs/cronet_http/example/pubspec.yaml
  pkgs/cronet_http/lib/src/cronet_client.dart
  pkgs/cronet_http/pubspec.yaml
Labels: package:cronet_http

#1210 Ready cupertino_http 1.5 for publish
  pkgs/cupertino_http/pubspec.yaml
Labels: package:cupertino_http

#1211 Allow `1000` as a WebSocket close code
  pkgs/cupertino_http/CHANGELOG.md
  pkgs/cupertino_http/lib/src/cupertino_web_socket.dart
  pkgs/cupertino_http/pubspec.yaml
  pkgs/web_socket/CHANGELOG.md
  pkgs/web_socket/lib/src/utils.dart
  pkgs/web_socket/lib/src/web_socket.dart
  pkgs/web_socket/pubspec.yaml
  pkgs/web_socket/test/fake_web_socket_test.dart
  pkgs/web_socket_conformance_tests/lib/src/close_local_tests.dart
Labels: package:cupertino_http

#1204 [cronet_http] Apply relevant rules with the ProGuard
  pkgs/cronet_http/CHANGELOG.md
  pkgs/cronet_http/android/consumer-rules.pro
  pkgs/cronet_http/example/android/app/build.gradle
  pkgs/cronet_http/pubspec.yaml
Labels: package:cronet_http

#1212 Add a skeleton package:ok_http
  .github/workflows/okhttp.yaml
  pkgs/ok_http/.gitignore
  pkgs/ok_http/.metadata
  pkgs/ok_http/CHANGELOG.md
  pkgs/ok_http/LICENSE
  pkgs/ok_http/README.md
  pkgs/ok_http/analysis_options.yaml
  pkgs/ok_http/android/.gitignore
  pkgs/ok_http/android/build.gradle
  pkgs/ok_http/android/settings.gradle
  pkgs/ok_http/android/src/main/AndroidManifest.xml
  pkgs/ok_http/example/.gitignore
  pkgs/ok_http/example/README.md
  pkgs/ok_http/example/analysis_options.yaml
  pkgs/ok_http/example/android/.gitignore
  pkgs/ok_http/example/android/app/build.gradle
  pkgs/ok_http/example/android/app/src/debug/AndroidManifest.xml
  pkgs/ok_http/example/android/app/src/main/AndroidManifest.xml
  pkgs/ok_http/example/android/app/src/main/kotlin/com/example/ok_http_example/MainActivity.kt
  pkgs/ok_http/example/android/app/src/main/res/drawable-v21/launch_background.xml
  pkgs/ok_http/example/android/app/src/main/res/drawable/launch_background.xml
  pkgs/ok_http/example/android/app/src/main/res/mipmap-hdpi/ic_launcher.png
  pkgs/ok_http/example/android/app/src/main/res/mipmap-mdpi/ic_launcher.png
  pkgs/ok_http/example/android/app/src/main/res/mipmap-xhdpi/ic_launcher.png
  pkgs/ok_http/example/android/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
  pkgs/ok_http/example/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
  pkgs/ok_http/example/android/app/src/main/res/values-night/styles.xml
  pkgs/ok_http/example/android/app/src/main/res/values/styles.xml
  pkgs/ok_http/example/android/app/src/profile/AndroidManifest.xml
  pkgs/ok_http/example/android/build.gradle
  pkgs/ok_http/example/android/gradle.properties
  pkgs/ok_http/example/android/gradle/wrapper/gradle-wrapper.properties
  pkgs/ok_http/example/android/settings.gradle
  pkgs/ok_http/example/lib/main.dart
  pkgs/ok_http/example/pubspec.yaml
  pkgs/ok_http/lib/ok_http.dart
  pkgs/ok_http/pubspec.yaml
Labels: type-infra

#1215 `ok_http`: Add BaseClient Implementation and make asynchronous requests.
  .github/workflows/okhttp.yaml
  pkgs/ok_http/.gitignore
  pkgs/ok_http/CHANGELOG.md
  pkgs/ok_http/analysis_options.yaml
  pkgs/ok_http/android/build.gradle
  pkgs/ok_http/example/android/app/src/main/AndroidManifest.xml
  pkgs/ok_http/example/android/settings.gradle
  pkgs/ok_http/example/integration_test/client_test.dart
  pkgs/ok_http/example/lib/book.dart
  pkgs/ok_http/example/lib/main.dart
  pkgs/ok_http/example/pubspec.yaml
  pkgs/ok_http/jnigen.yaml
  pkgs/ok_http/lib/ok_http.dart
  pkgs/ok_http/lib/src/ok_http_client.dart
  pkgs/ok_http/lib/src/third_party/okhttp3/Call.dart
  pkgs/ok_http/lib/src/third_party/okhttp3/Callback.dart
  pkgs/ok_http/lib/src/third_party/okhttp3/Headers.dart
  pkgs/ok_http/lib/src/third_party/okhttp3/OkHttpClient.dart
  pkgs/ok_http/lib/src/third_party/okhttp3/Request.dart
  pkgs/ok_http/lib/src/third_party/okhttp3/RequestBody.dart
  pkgs/ok_http/lib/src/third_party/okhttp3/Response.dart
  pkgs/ok_http/lib/src/third_party/okhttp3/ResponseBody.dart
  pkgs/ok_http/lib/src/third_party/okhttp3/_package.dart
  pkgs/ok_http/pubspec.yaml
Labels: type-infra
