Repository dart-lang/http, pull requests merged in 2024-10, with the labels that each got.

#1311 Upgrade jni and jnigen to 0.12.0
  pkgs/cronet_http/CHANGELOG.md
  pkgs/cronet_http/android/build.gradle
  pkgs/cronet_http/example/android/app/build.gradle
  pkgs/cronet_http/example/android/app/src/debug/AndroidManifest.xml
  pkgs/cronet_http/example/android/app/src/main/AndroidManifest.xml
  pkgs/cronet_http/example/android/app/src/profile/AndroidManifest.xml
  pkgs/cronet_http/example/android/build.gradle
  pkgs/cronet_http/example/android/gradle/wrapper/gradle-wrapper.properties
  pkgs/cronet_http/jnigen.yaml
  pkgs/cronet_http/lib/src/cronet_client.dart
  pkgs/cronet_http/lib/src/jni/jni_bindings.dart
  pkgs/cronet_http/pubspec.yaml
Labels: package:cronet_http

#1319 Merge `package:http_parser`
  .github/ISSUE_TEMPLATE/http_parser.md
  .github/labeler.yml
  .github/workflows/http_parser.yaml
  README.md
  pkgs/http_parser/.gitignore
  pkgs/http_parser/CHANGELOG.md
  pkgs/http_parser/LICENSE
  pkgs/http_parser/README.md
  pkgs/http_parser/analysis_options.yaml
  pkgs/http_parser/example/example.dart
  pkgs/http_parser/lib/http_parser.dart
  pkgs/http_parser/lib/src/authentication_challenge.dart
  pkgs/http_parser/lib/src/case_insensitive_map.dart
  pkgs/http_parser/lib/src/chunked_coding.dart
  pkgs/http_parser/lib/src/chunked_coding/charcodes.dart
  pkgs/http_parser/lib/src/chunked_coding/decoder.dart
  pkgs/http_parser/lib/src/chunked_coding/encoder.dart
  pkgs/http_parser/lib/src/http_date.dart
  pkgs/http_parser/lib/src/media_type.dart
  pkgs/http_parser/lib/src/scan.dart
  pkgs/http_parser/lib/src/utils.dart
  pkgs/http_parser/pubspec.yaml
  pkgs/http_parser/test/authentication_challenge_test.dart
  pkgs/http_parser/test/case_insensitive_map_test.dart
  pkgs/http_parser/test/chunked_coding_test.dart
  pkgs/http_parser/test/example_test.dart
  pkgs/http_parser/test/http_date_test.dart
  pkgs/http_parser/test/media_type_test.dart
Labels: type-infra

#1389 Remove package:java_http
  .github/workflows/java.yml
  pkgs/java_http/.gitattributes
  pkgs/java_http/.gitignore
  pkgs/java_http/CHANGELOG.md
  pkgs/java_http/LICENSE
  pkgs/java_http/README.md
  pkgs/java_http/analysis_options.yaml
  pkgs/java_http/example/java_http_example.dart
  pkgs/java_http/jnigen.yaml
  pkgs/java_http/lib/java_http.dart
  pkgs/java_http/lib/src/java_client.dart
  pkgs/java_http/lib/src/java_http_base.dart
  pkgs/java_http/lib/src/third_party/java/io/BufferedInputStream.dart
  pkgs/java_http/lib/src/third_party/java/io/InputStream.dart
  pkgs/java_http/lib/src/third_party/java/io/OutputStream.dart
  pkgs/java_http/lib/src/third_party/java/io/_package.dart
  pkgs/java_http/lib/src/third_party/java/lang/System.dart
  pkgs/java_http/lib/src/third_party/java/lang/_package.dart
  pkgs/java_http/lib/src/third_party/java/net/HttpURLConnection.dart
  pkgs/java_http/lib/src/third_party/java/net/URL.dart
  pkgs/java_http/lib/src/third_party/java/net/URLConnection.dart
  pkgs/java_http/lib/src/third_party/java/net/_package.dart
  pkgs/java_http/pubspec.yaml
  pkgs/java_http/test/java_client_test.dart
Labels: type-infra

#1391 Switch to http_image_provider 1.0
  pkgs/cronet_http/example/pubspec.yaml
  pkgs/cupertino_http/example/pubspec.yaml
  pkgs/flutter_http_example/pubspec.yaml
  pkgs/ok_http/example/pubspec.yaml
Labels: package:cupertino_http, package:cronet_http

#1390 Prepare to publish cupertino_http 2.0.0
  pkgs/cupertino_http/CHANGELOG.md
  pkgs/cupertino_http/pubspec.yaml
Labels: package:cupertino_http

#1395 Drop outdated lint
  pkgs/http_parser/analysis_options.yaml
Labels: package:http_parser
