Repository dart-lang/http, pull requests merged in 2024-02, with the labels that each got.

#1132 [http] Migrate to the latest pkg:web, require Dart 3.3
  .github/workflows/dart.yml
  pkgs/http/CHANGELOG.md
  pkgs/http/lib/src/browser_client.dart
  pkgs/http/pubspec.yaml
  pkgs/http/test/html/utils.dart
Labels: package:http, type-infra

#1133 blast repo changes: auto-publish, github-actions, no-response
  .github/workflows/cronet.yml
  .github/workflows/cupertino.yml
  .github/workflows/dart.yml
  .github/workflows/java.yml
  .github/workflows/no-response.yml
  .github/workflows/publish.yaml
  pkgs/cupertino_http/CHANGELOG.md
Labels: type-infra

#1128 Create a simple WebSocket interface
  .github/workflows/dart.yml
  pkgs/web_socket/CHANGELOG.md
  pkgs/web_socket/README.md
  pkgs/web_socket/example/web_socket_example.dart
  pkgs/web_socket/lib/src/web_socket.dart
  pkgs/web_socket/lib/web_socket.dart
  pkgs/web_socket/mono_pkg.yaml
  pkgs/web_socket/pubspec.yaml
Labels: type-infra

#1046 Populate package:http_profile
  .github/workflows/dart.yml
  pkgs/http_profile/lib/http_profile.dart
  pkgs/http_profile/pubspec.yaml
  pkgs/http_profile/test/populating_profiles_test.dart
  pkgs/http_profile/test/profiling_enabled_test.dart
Labels: type-infra

#1137 Make it possible for `CronetClient` to own the lifetime of an existing `CronetEngine`
  pkgs/cronet_http/CHANGELOG.md
  pkgs/cronet_http/README.md
  pkgs/cronet_http/example/integration_test/cronet_configuration_test.dart
  pkgs/cronet_http/example/lib/main.dart
  pkgs/cronet_http/lib/src/cronet_client.dart
  pkgs/cronet_http/pubspec.yaml
Labels: package:cronet_http

#1091 👷 Update configuration related files
  .github/workflows/cronet.yml
  .github/workflows/cupertino.yml
  .github/workflows/java.yml
  .gitignore
  pkgs/cronet_http/cronet_http.iml
  pkgs/cronet_http/example/android/.gitignore
  pkgs/cronet_http/example/android/local.properties
  pkgs/cupertino_http/cupertino_http.iml
  pkgs/cupertino_http/example/android/app/build.gradle
  pkgs/cupertino_http/example/android/app/src/debug/AndroidManifest.xml
  pkgs/cupertino_http/example/android/app/src/main/AndroidManifest.xml
  pkgs/cupertino_http/example/android/app/src/main/kotlin/io/flutter/cupertino_http_example/example/example/MainActivity.kt
  pkgs/cupertino_http/example/android/app/src/main/res/drawable-v21/launch_background.xml
  pkgs/cupertino_http/example/android/app/src/main/res/drawable/launch_background.xml
  pkgs/cupertino_http/example/android/app/src/main/res/mipmap-hdpi/ic_launcher.png
  pkgs/cupertino_http/example/android/app/src/main/res/mipmap-mdpi/ic_launcher.png
  pkgs/cupertino_http/example/android/app/src/main/res/mipmap-xhdpi/ic_launcher.png
  pkgs/cupertino_http/example/android/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
  pkgs/cupertino_http/example/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
  pkgs/cupertino_http/example/android/app/src/main/res/values-night/styles.xml
  pkgs/cupertino_http/example/android/app/src/main/res/values/styles.xml
  pkgs/cupertino_http/example/android/app/src/profile/AndroidManifest.xml
  pkgs/cupertino_http/example/android/build.gradle
  pkgs/cupertino_http/example/android/gradle.properties
  pkgs/cupertino_http/example/android/gradle/wrapper/gradle-wrapper.properties
  pkgs/cupertino_http/example/android/settings.gradle
  pkgs/cupertino_http/example/linux/.gitignore
  pkgs/cupertino_http/example/linux/CMakeLists.txt
  pkgs/cupertino_http/example/linux/flutter/CMakeLists.txt
  pkgs/cupertino_http/example/linux/flutter/generated_plugin_registrant.cc
  pkgs/cupertino_http/example/linux/flutter/generated_plugin_registrant.h
  pkgs/cupertino_http/example/linux/flutter/generated_plugins.cmake
  pkgs/cupertino_http/example/linux/main.cc
  pkgs/cupertino_http/example/linux/my_application.cc
  pkgs/cupertino_http/example/linux/my_application.h
  pkgs/cupertino_http/example/windows/.gitignore
  pkgs/cupertino_http/example/windows/CMakeLists.txt
  pkgs/cupertino_http/example/windows/flutter/CMakeLists.txt
  pkgs/cupertino_http/example/windows/flutter/generated_plugin_registrant.cc
  pkgs/cupertino_http/example/windows/flutter/generated_plugin_registrant.h
  pkgs/cupertino_http/example/windows/flutter/generated_plugins.cmake
  pkgs/cupertino_http/example/windows/runner/CMakeLists.txt
  pkgs/cupertino_http/example/windows/runner/Runner.rc
  pkgs/cupertino_http/example/windows/runner/flutter_window.cpp
  pkgs/cupertino_http/example/windows/runner/flutter_window.h
  pkgs/cupertino_http/example/windows/runner/main.cpp
  pkgs/cupertino_http/example/windows/runner/resource.h
  pkgs/cupertino_http/example/windows/runner/resources/app_icon.ico
  pkgs/cupertino_http/example/windows/runner/runner.exe.manifest
  pkgs/cupertino_http/example/windows/runner/utils.cpp
  pkgs/cupertino_http/example/windows/runner/utils.h
  pkgs/cupertino_http/example/windows/runner/win32_window.cpp
  pkgs/cupertino_http/example/windows/runner/win32_window.h
Labels: package:cupertino_http, package:cronet_http, type-infra

#1111 [cronet_http] 🏗️ Use dart-define to determine dependency
  .github/workflows/cronet.yml
  pkgs/cronet_http/CHANGELOG.md
  pkgs/cronet_http/README.md
  pkgs/cronet_http/README_EMBEDDED.md
  pkgs/cronet_http/android/build.gradle
  pkgs/cronet_http/pubspec.yaml
  pkgs/cronet_http/tool/prepare_for_embedded.dart
Labels: package:cronet_http, type-infra

#1140 Fix incorrect documentation that used the old `isOwned` name
  pkgs/cronet_http/CHANGELOG.md
  pkgs/cronet_http/README.md
Labels: package:cronet_http

#1139 Add a dart:io WebSocket implementation
  .github/workflows/dart.yml
  pkgs/web_socket/README.md
  pkgs/web_socket/example/web_socket_example.dart
  pkgs/web_socket/lib/io_web_socket.dart
  pkgs/web_socket/lib/src/io_web_socket.dart
  pkgs/web_socket/lib/src/web_socket.dart
  pkgs/web_socket/lib/web_socket.dart
  pkgs/web_socket/pubspec.yaml
  pkgs/web_socket/test/io_web_socket_conformance_test.dart
  pkgs/web_socket_conformance_tests/.gitattributes
  pkgs/web_socket_conformance_tests/LICENSE
  pkgs/web_socket_conformance_tests/README.md
  pkgs/web_socket_conformance_tests/bin/generate_server_wrappers.dart
  pkgs/web_socket_conformance_tests/example/client_test.dart
  pkgs/web_socket_conformance_tests/lib/src/close_local_server.dart
  pkgs/web_socket_conformance_tests/lib/src/close_local_server_vm.dart
  pkgs/web_socket_conformance_tests/lib/src/close_local_server_web.dart
  pkgs/web_socket_conformance_tests/lib/src/close_local_tests.dart
  pkgs/web_socket_conformance_tests/lib/src/close_remote_server.dart
  pkgs/web_socket_conformance_tests/lib/src/close_remote_server_vm.dart
  pkgs/web_socket_conformance_tests/lib/src/close_remote_server_web.dart
  pkgs/web_socket_conformance_tests/lib/src/close_remote_tests.dart
  pkgs/web_socket_conformance_tests/lib/src/disconnect_after_upgrade_server.dart
  pkgs/web_socket_conformance_tests/lib/src/disconnect_after_upgrade_server_vm.dart
  pkgs/web_socket_conformance_tests/lib/src/disconnect_after_upgrade_server_web.dart
  pkgs/web_socket_conformance_tests/lib/src/disconnect_after_upgrade_tests.dart
  pkgs/web_socket_conformance_tests/lib/src/echo_server.dart
  pkgs/web_socket_conformance_tests/lib/src/echo_server_vm.dart
  pkgs/web_socket_conformance_tests/lib/src/echo_server_web.dart
  pkgs/web_socket_conformance_tests/lib/src/no_upgrade_server.dart
  pkgs/web_socket_conformance_tests/lib/src/no_upgrade_server_vm.dart
  pkgs/web_socket_conformance_tests/lib/src/no_upgrade_server_web.dart
  pkgs/web_socket_conformance_tests/lib/src/no_upgrade_tests.dart
  pkgs/web_socket_conformance_tests/lib/src/payload_transfer_tests.dart
  pkgs/web_socket_conformance_tests/lib/src/peer_protocol_errors_server.dart
  pkgs/web_socket_conformance_tests/lib/src/peer_protocol_errors_server_vm.dart
  pkgs/web_socket_conformance_tests/lib/src/peer_protocol_errors_server_web.dart
  pkgs/web_socket_conformance_tests/lib/src/peer_protocol_errors_tests.dart
  pkgs/web_socket_conformance_tests/lib/web_socket_conformance_tests.dart
  pkgs/web_socket_conformance_tests/mono_pkg.yaml
  pkgs/web_socket_conformance_tests/pubspec.yaml
Labels: type-infra, package:web_socket
