Repository dart-lang/http, pull requests merged in 2024-12, with the labels that each got.

#1416 Merge `package:http_multi_server`
  .github/ISSUE_TEMPLATE/http_multi_server.md
  .github/labeler.yml
  .github/workflows/http_multi_server.yaml
  README.md
  pkgs/http_multi_server/.gitignore
  pkgs/http_multi_server/.test_config
  pkgs/http_multi_server/CHANGELOG.md
  pkgs/http_multi_server/LICENSE
  pkgs/http_multi_server/README.md
  pkgs/http_multi_server/analysis_options.yaml
  pkgs/http_multi_server/example/main.dart
  pkgs/http_multi_server/lib/http_multi_server.dart
  pkgs/http_multi_server/lib/src/multi_headers.dart
  pkgs/http_multi_server/lib/src/utils.dart
  pkgs/http_multi_server/pubspec.yaml
  pkgs/http_multi_server/test/http_multi_server_test.dart
Labels: type-infra

#1435 http_multi_server: bump lints dep
  pkgs/http_multi_server/pubspec.yaml
Labels: skip-changelog-check, package:http_multi_server

#1434 Fix a potential exponential backtracking issue when parsing quoted headers
  pkgs/http_parser/CHANGELOG.md
  pkgs/http_parser/lib/src/scan.dart
  pkgs/http_parser/pubspec.yaml
  pkgs/http_parser/test/authentication_challenge_test.dart
  pkgs/http_parser/test/scan_test.dart
Labels: package:http_parser
