Repository dart-lang/http, pull requests merged in 2024-06, with the labels that each got.

#1222 pkgs/http_client_conformance_tests: add boolean flag `supportsFoldedHeaders`
  pkgs/http_client_conformance_tests/lib/http_client_conformance_tests.dart
  pkgs/http_client_conformance_tests/lib/src/response_headers_tests.dart
Labels: package:http_client_conformance_tests

#1225 [cronet_http] Upgrade jnigen to 0.9.2 to close #1213
  pkgs/cronet_http/CHANGELOG.md
  pkgs/cronet_http/lib/src/jni/jni_bindings.dart
  pkgs/cronet_http/pubspec.yaml
Labels: package:cronet_http

#1228 Prepare to release cronet_http 1.3.1
  pkgs/cronet_http/CHANGELOG.md
  pkgs/cronet_http/pubspec.yaml
Labels: package:cronet_http

#1227 http_client_conformance_tests: Fix inconsistent test server behavior
  pkgs/http_client_conformance_tests/lib/src/request_cookies_server.dart
Labels: package:http_client_conformance_tests

#1231 Fix typo in README.md #L117
  pkgs/http/README.md
Labels: package:http

#1239 Fix some minor spelling and grammar issues
  .github/ISSUE_TEMPLATE/2--package-http---i-found-a-bug.md
  pkgs/cronet_http/README.md
  pkgs/cronet_http/example/lib/main.dart
  pkgs/cupertino_http/README.md
  pkgs/cupertino_http/example/lib/main.dart
  pkgs/cupertino_http/lib/src/cupertino_web_socket.dart
  pkgs/flutter_http_example/README.md
  pkgs/flutter_http_example/lib/main.dart
  pkgs/http/README.md
  pkgs/http/lib/src/response.dart
  pkgs/http_client_conformance_tests/README.md
  pkgs/http_client_conformance_tests/lib/src/isolate_test.dart
  pkgs/http_client_conformance_tests/lib/src/request_body_tests.dart
  pkgs/web_socket/lib/src/web_socket.dart
  pkgs/web_socket_conformance_tests/README.md
  pkgs/web_socket_conformance_tests/lib/src/protocol_tests.dart
Labels: package:cupertino_http, package:http, package:cronet_http, type-infra, package:http_client_conformance_tests

#1238 Update various flutter.dev and dart.dev links
  pkgs/cronet_http/example/android/.gitignore
  pkgs/cupertino_http/lib/cupertino_http.dart
  pkgs/flutter_http_example/android/.gitignore
  pkgs/flutter_http_example/android/app/build.gradle
  pkgs/ok_http/example/analysis_options.yaml
  pkgs/ok_http/example/android/.gitignore
  pkgs/ok_http/example/android/app/build.gradle
Labels: package:cupertino_http, package:cronet_http

#1243 Update lints
  pkgs/cronet_http/example/pubspec.yaml
  pkgs/cronet_http/pubspec.yaml
  pkgs/cupertino_http/example/pubspec.yaml
  pkgs/cupertino_http/lib/src/cupertino_web_socket.dart
  pkgs/cupertino_http/pubspec.yaml
  pkgs/flutter_http_example/pubspec.yaml
  pkgs/http/lib/testing.dart
  pkgs/http/pubspec.yaml
  pkgs/http_client_conformance_tests/pubspec.yaml
  pkgs/java_http/pubspec.yaml
  pkgs/ok_http/pubspec.yaml
  pkgs/web_socket/pubspec.yaml
  pkgs/web_socket_conformance_tests/pubspec.yaml
Labels: package:cupertino_http, package:http, package:cronet_http, package:http_client_conformance_tests

#1246 [cronet_http] Upgrade jni and jnigen to 0.9.3
  pkgs/cronet_http/CHANGELOG.md
  pkgs/cronet_http/lib/src/jni/jni_bindings.dart
  pkgs/cronet_http/pubspec.yaml
Labels: package:cronet_http

#1247 [cupertino_http] Fix a bug where content-length was not set for multipart messages
  pkgs/cupertino_http/CHANGELOG.md
  pkgs/cupertino_http/lib/src/cupertino_client.dart
  pkgs/http/test/html/client_conformance_test.dart
  pkgs/http_client_conformance_tests/lib/http_client_conformance_tests.dart
  pkgs/http_client_conformance_tests/lib/src/multipart_server.dart
  pkgs/http_client_conformance_tests/lib/src/multipart_server_vm.dart
  pkgs/http_client_conformance_tests/lib/src/multipart_server_web.dart
  pkgs/http_client_conformance_tests/lib/src/multipart_tests.dart
Labels: package:cupertino_http, package:http, package:http_client_conformance_tests

#1248 Call out more limitations of runWithClient
  pkgs/http/lib/src/client.dart
Labels: package:http

#1249 Document that runWithClient should not be used with Flutter
  pkgs/http/lib/src/client.dart
Labels: package:http

#1250 Make it more clear to using use runWithClient in the Dart SDK.
  pkgs/http/README.md
Labels: package:http
