Repository dart-lang/http, pull requests merged in 2025-04, with the labels that each got.

#1743 Fix code snippet in readme
  pkgs/http/README.md
Labels: package:http, skip-changelog-check

#1745 Update to Dart `3.7.0`
  .github/workflows/http2.yaml
  pkgs/http2/CHANGELOG.md
  pkgs/http2/example/display_headers.dart
  pkgs/http2/lib/multiprotocol_server.dart
  pkgs/http2/lib/src/artificial_server_socket.dart
  pkgs/http2/lib/src/async_utils/async_utils.dart
  pkgs/http2/lib/src/connection.dart
  pkgs/http2/lib/src/connection_preface.dart
  pkgs/http2/lib/src/flowcontrol/connection_queues.dart
  pkgs/http2/lib/src/flowcontrol/queue_messages.dart
  pkgs/http2/lib/src/flowcontrol/stream_queues.dart
  pkgs/http2/lib/src/flowcontrol/window_handler.dart
  pkgs/http2/lib/src/frames/frame_defragmenter.dart
  pkgs/http2/lib/src/frames/frame_reader.dart
  pkgs/http2/lib/src/frames/frame_types.dart
  pkgs/http2/lib/src/frames/frame_writer.dart
  pkgs/http2/lib/src/hpack/hpack.dart
  pkgs/http2/lib/src/hpack/huffman.dart
  pkgs/http2/lib/src/hpack/huffman_table.dart
  pkgs/http2/lib/src/ping/ping_handler.dart
  pkgs/http2/lib/src/settings/settings.dart
  pkgs/http2/lib/src/streams/stream_handler.dart
  pkgs/http2/lib/transport.dart
  pkgs/http2/manual_test/out_of_stream_ids_test.dart
  pkgs/http2/pubspec.yaml
  pkgs/http2/test/client_test.dart
  pkgs/http2/test/multiprotocol_server_test.dart
  pkgs/http2/test/server_test.dart
  pkgs/http2/test/src/async_utils/async_utils_test.dart
  pkgs/http2/test/src/connection_preface_test.dart
  pkgs/http2/test/src/flowcontrol/connection_queues_test.dart
  pkgs/http2/test/src/flowcontrol/mocks.dart
  pkgs/http2/test/src/flowcontrol/stream_queues_test.dart
  pkgs/http2/test/src/flowcontrol/window_handler_test.dart
  pkgs/http2/test/src/frames/frame_defragmenter_test.dart
  pkgs/http2/test/src/frames/frame_reader_test.dart
  pkgs/http2/test/src/frames/frame_writer_reader_test.dart
  pkgs/http2/test/src/frames/frame_writer_test.dart
  pkgs/http2/test/src/hpack/hpack_test.dart
  pkgs/http2/test/src/hpack/huffman_table_test.dart
  pkgs/http2/test/src/ping/ping_handler_test.dart
  pkgs/http2/test/src/settings/settings_handler_test.dart
  pkgs/http2/test/src/streams/helper.dart
  pkgs/http2/test/src/streams/simple_flow_test.dart
  pkgs/http2/test/src/streams/simple_push_test.dart
  pkgs/http2/test/src/streams/streams_test.dart
  pkgs/http2/test/transport_test.dart
Labels: type-infra, package:http2

#1748 Fix publishing workflow
  .github/workflows/publish.yaml
Labels: type-infra

#1753 Ready for release: cupertino_http, web_socket, web_socket_channel
  pkgs/cupertino_http/CHANGELOG.md
  pkgs/cupertino_http/pubspec.yaml
  pkgs/web_socket/CHANGELOG.md
  pkgs/web_socket/pubspec.yaml
  pkgs/web_socket_channel/CHANGELOG.md
  pkgs/web_socket_channel/pubspec.yaml
Labels: package:cupertino_http, package:web_socket_channel
