Repository dart-lang/http, pull requests merged in 2025-02, with the labels that each got.

#1708 Use the same Java/Kotlin versions as the flutter android template
  .github/workflows/okhttp.yaml
  pkgs/ok_http/android/build.gradle
  pkgs/ok_http/example/android/app/build.gradle
Labels: type-infra

#1422 Fix Default Encoding for application/json Content-Type in HTTP Responses
  pkgs/http/CHANGELOG.md
  pkgs/http/lib/src/multipart_file.dart
  pkgs/http/lib/src/response.dart
  pkgs/http/lib/src/utils.dart
  pkgs/http/pubspec.yaml
  pkgs/http/test/response_test.dart
Labels: package:http

#1712 Revert cronet_http gradle version
  pkgs/cronet_http/android/build.gradle
Labels: package:cronet_http

#1714 Fix typo in example in README
  pkgs/cupertino_http/README.md
Labels: package:cupertino_http, skip-changelog-check

#1715 Fix browser clients in workers
  pkgs/http/CHANGELOG.md
  pkgs/http/lib/src/browser_client.dart
Labels: package:http
