Repository dart-lang/http, pull requests merged in 2025-05, with the labels that each got.

#1760 [cronet_http/cupertino_http]: Fixes bugs where cancelling `StreamedResponse.stream` did not sever the connection
  pkgs/cronet_http/CHANGELOG.md
  pkgs/cronet_http/example/integration_test/client_profile_test.dart
  pkgs/cronet_http/lib/src/cronet_client.dart
  pkgs/cronet_http/pubspec.yaml
  pkgs/cupertino_http/CHANGELOG.md
  pkgs/cupertino_http/example/integration_test/client_profile_test.dart
  pkgs/cupertino_http/lib/src/cupertino_client.dart
  pkgs/cupertino_http/pubspec.yaml
  pkgs/http_client_conformance_tests/lib/src/response_body_streamed_test.dart
Labels: package:cupertino_http, package:cronet_http, package:http_client_conformance_tests, package:web_socket_conformance_tests

#1762 Make response headers tests pass on firefox
  .github/workflows/dart.yml
  pkgs/http/mono_pkg.yaml
  pkgs/http_client_conformance_tests/lib/src/response_headers_tests.dart
  tool/ci.sh
Labels: package:http, type-infra, package:http_client_conformance_tests, package:web_socket_conformance_tests

#1766 Ignore received data after the response stream has been closed
  pkgs/cupertino_http/example/integration_test/client_profile_test.dart
  pkgs/cupertino_http/lib/src/cupertino_client.dart
Labels: package:cupertino_http

#1767 Prepare cronet_http/cupertino_http/http/web_socket for release
  pkgs/cronet_http/CHANGELOG.md
  pkgs/cronet_http/pubspec.yaml
  pkgs/cupertino_http/pubspec.yaml
  pkgs/http/CHANGELOG.md
  pkgs/http/pubspec.yaml
  pkgs/web_socket/CHANGELOG.md
  pkgs/web_socket/pubspec.yaml
Labels: package:cupertino_http, package:http, package:cronet_http

#1737 [web_socket_channel] Shorten library description for pub score improvement
  pkgs/web_socket_channel/pubspec.yaml
Labels: package:web_socket_channel

#1769 Return a customized `StreamedResponse` from `CronetClient.send`
  pkgs/cronet_http/CHANGELOG.md
  pkgs/cronet_http/example/integration_test/client_test.dart
  pkgs/cronet_http/lib/src/cronet_client.dart
  pkgs/cronet_http/pubspec.yaml
Labels: package:cronet_http

#1768 Clarify that some headers may not be sent/received
  pkgs/http/CHANGELOG.md
  pkgs/http/lib/src/base_request.dart
  pkgs/http/lib/src/base_response.dart
  pkgs/http/pubspec.yaml
Labels: package:http
