Repository dart-lang/http, pull requests merged in 2025-01, with the labels that each got.

#1439 Release http_parser 4.1.2
  pkgs/http_parser/CHANGELOG.md
  pkgs/http_parser/pubspec.yaml
Labels: package:http_parser

#1440 Add tests to verify NUL, CR & LF header value behavior
  pkgs/cupertino_http/example/integration_test/client_conformance_test.dart
  pkgs/http/test/io/client_conformance_test.dart
  pkgs/http_client_conformance_tests/lib/http_client_conformance_tests.dart
  pkgs/http_client_conformance_tests/lib/src/response_headers_tests.dart
Labels: package:cupertino_http, package:http, package:http_client_conformance_tests

#1443 [http2, conformance_tests] update dependencies
  .github/labeler.yml
  pkgs/http2/CHANGELOG.md
  pkgs/http2/lib/http2.dart
  pkgs/http2/lib/src/frames/frames.dart
  pkgs/http2/lib/src/hpack/hpack.dart
  pkgs/http2/pubspec.yaml
  pkgs/http_client_conformance_tests/pubspec.yaml
  pkgs/web_socket_conformance_tests/pubspec.yaml
Labels: type-infra, package:http_client_conformance_tests, package:http2

#1449 Prepare cupertino_http 2.0.2 for release
  pkgs/cupertino_http/CHANGELOG.md
  pkgs/cupertino_http/pubspec.yaml
Labels: package:cupertino_http

#1451 [http] prepare v1.3.0 release
  pkgs/http/CHANGELOG.md
  pkgs/http/pubspec.yaml
  pkgs/http2/pubspec.yaml
Labels: package:http, package:http2, skip-changelog-check

#1450 Remove bespoke code that handled blocking callbacks
  pkgs/cupertino_http/CHANGELOG.md
  pkgs/cupertino_http/darwin/cupertino_http/Sources/cupertino_http/native_cupertino_bindings.m
  pkgs/cupertino_http/darwin/cupertino_http/Sources/cupertino_http/utils.h
  pkgs/cupertino_http/darwin/cupertino_http/Sources/cupertino_http/utils.m
  pkgs/cupertino_http/ffigen.yaml
  pkgs/cupertino_http/lib/src/cupertino_api.dart
  pkgs/cupertino_http/lib/src/native_cupertino_bindings.dart
  pkgs/cupertino_http/pubspec.yaml
Labels: package:cupertino_http

#1420 Merge `package:web_socket_channel`
  .github/ISSUE_TEMPLATE/web_socket_channel.md
  .github/labeler.yml
  .github/workflows/web_socket_channel.yaml
  README.md
  pkgs/web_socket_channel/.gitignore
  pkgs/web_socket_channel/CHANGELOG.md
  pkgs/web_socket_channel/LICENSE
  pkgs/web_socket_channel/README.md
  pkgs/web_socket_channel/analysis_options.yaml
  pkgs/web_socket_channel/example/example.dart
  pkgs/web_socket_channel/lib/adapter_web_socket_channel.dart
  pkgs/web_socket_channel/lib/html.dart
  pkgs/web_socket_channel/lib/io.dart
  pkgs/web_socket_channel/lib/src/channel.dart
  pkgs/web_socket_channel/lib/src/exception.dart
  pkgs/web_socket_channel/lib/src/sink_completer.dart
  pkgs/web_socket_channel/lib/status.dart
  pkgs/web_socket_channel/lib/web_socket_channel.dart
  pkgs/web_socket_channel/pubspec.yaml
  pkgs/web_socket_channel/test/adapter_web_socket_channel_test.dart
  pkgs/web_socket_channel/test/echo_server_vm.dart
  pkgs/web_socket_channel/test/echo_server_web.dart
  pkgs/web_socket_channel/test/html_test.dart
  pkgs/web_socket_channel/test/io_test.dart
Labels: type-infra

#1444 [ok_http] Add support for client certificates using Java `PrivateKey`s
  .github/workflows/okhttp.yaml
  pkgs/cronet_http/android/build.gradle
  pkgs/flutter_http_example/android/gradle/wrapper/gradle-wrapper.properties
  pkgs/http_client_conformance_tests/lib/src/response_headers_tests.dart
  pkgs/ok_http/CHANGELOG.md
  pkgs/ok_http/android/build.gradle
  pkgs/ok_http/android/src/main/kotlin/com/example/ok_http/FixedResponseX509ExtendedKeyManager.kt
  pkgs/ok_http/example/android/app/build.gradle
  pkgs/ok_http/example/android/gradle/wrapper/gradle-wrapper.properties
  pkgs/ok_http/example/android/settings.gradle
  pkgs/ok_http/example/integration_test/certificate_test.dart
  pkgs/ok_http/example/integration_test/client_test.dart
  pkgs/ok_http/example/pubspec.yaml
  pkgs/ok_http/example/test_certs/README.md
  pkgs/ok_http/example/test_certs/server_chain.p12
  pkgs/ok_http/example/test_certs/server_key.p12
  pkgs/ok_http/example/test_certs/test-combined.p12
  pkgs/ok_http/jnigen.yaml
  pkgs/ok_http/lib/ok_http.dart
  pkgs/ok_http/lib/src/jni/bindings.dart
  pkgs/ok_http/lib/src/ok_http_client.dart
  pkgs/ok_http/lib/src/ok_http_web_socket.dart
  pkgs/ok_http/pubspec.yaml
Labels: package:cronet_http, type-infra, package:http_client_conformance_tests, package:web_socket_conformance_tests
