Repository dart-lang/http, pull requests merged in 2025-09, with the labels that each got.

#1798 Only set the charset when the body is set for certain mime types
  pkgs/cronet_http/example/pubspec.yaml
  pkgs/cupertino_http/example/pubspec.yaml
  pkgs/http/CHANGELOG.md
  pkgs/http/lib/src/request.dart
  pkgs/http/pubspec.yaml
  pkgs/http/test/io/http_test.dart
  pkgs/http/test/request_test.dart
  pkgs/http/test/stub_server.dart
  pkgs/http_client_conformance_tests/lib/src/request_body_tests.dart
  pkgs/http_client_conformance_tests/pubspec.yaml
  pkgs/ok_http/example/pubspec.yaml
Labels: package:cupertino_http, package:http, package:cronet_http, package:http_client_conformance_tests, package:web_socket_conformance_tests

#1816 Remove obsolete TODO comment
  pkgs/cupertino_http/lib/src/cupertino_api.dart
Labels: package:cupertino_http

#1824 [cronet_http] Upgrade `cronet-embedded` dependency version to support 16 KB page sizes
  .github/workflows/cronet.yml
  pkgs/cronet_http/CHANGELOG.md
  pkgs/cronet_http/android/build.gradle
  pkgs/cronet_http/example/android/app/build.gradle
  pkgs/cronet_http/pubspec.yaml
Labels: package:cronet_http, type-infra
